.worker {
  display: flex;
  flex-direction: column;

  &__name {
    color: #2d3033;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    margin-top: 30px;
  }

  &__position {
    color: #e84545;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 16px 0 29px;
  }

  &__body {
    color: #6c7279;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 31px;
  }

  &__social > img {
    margin-right: 4px;
    transition: transform 0.5s;

    &:hover {
      cursor: pointer;
      transform: scale(1.2, 1.2);
    }
  }
}

@media screen and (max-width: 1199px) {
  .worker {
    margin-top: 50px;
  }
}